.banner {
  width: 1280px;
  height: 530px;
  margin: 0 auto;
  background-image: url("https://serverless-blog-static-resources.oss-ap-southeast-2.aliyuncs.com/images/bg.jpg") ;
  background-repeat: no-repeat;
  background-size: 1280px 380px;
  position: relative;
  background-color: #eee;
  .introduce {
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .avatar {
      width: 200px;
      height: 200px;
      position: absolute;
      top: -70px;
      left: 50px;
      //background-image: url("./avatar.jpeg");
      //background-size: contain;
      border-radius: 50%;
    }
    .title {
      line-height: 50px;
      font-size: 30px;
      font-family: "Academy Engraved LET";
      margin-left: 280px;
      color: #333;
    }
    .desc {
      line-height: 30px;
      font-size: 18px;
      margin-left: 280px;
      color: #666;
    }
  }
}
